.Buttons {
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  border: 1px solid rgb(255, 255, 255);
  color: black;
  font-family: 'Roboto';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
}

.Buttons:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
  cursor: pointer;
  scale: 1.1;
}
