.Header {
  background-color: rgb(193, 193, 193);
  display: flex;
  padding: 10px;
  width: 100%;
}

.Box-Image-Text {
  padding: 10px;
  width: 60%;
}

.Kanguruh-Logo {
  height: 100px;
}

.Descrição-Empresa {
  width: 641.06px;
  height: 15px;
  left: 0px;
  top: 98.89px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  /* or 165% */

  display: flex;
  align-items: center;

  color: #525252;
}

.Buttons-and-Links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.Social-Media {
  height: 30px;
}

.Links:hover {
  scale: 1.2;
}
