.Footer {
  border: 2px solid black;
  width: 100%;
}

.Mapa-Logo {
  height: 30px;
}

.Contato-Logo {
  height: 30px;
}

.Telefone-Tocando {
  height: 30px;
}

.Companhia-Logo {
  height: 30px;
}

.Email-Logo {
  height: 30px;
}
